@media screen and (max-width: 1920px) {
    .hidden {
        display: none;
    }
    
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }
    
    html, body {
        height: 100%;
    }
    
    body {
        font-family: 'Inter';
        font-size: 1rem;
    }
    
    main {
        text-align: center;
        width: 100%;
    }
    
    video {
        margin: 0 auto;
        align-items: center;
        width: 100%;
    }
    
    img {
        width: 100%;
    }

    button {
        border-radius: 2rem;
        border: 1.5px solid white;
        font-size: .9rem;
        font-weight: 300!important;
        padding: 1rem 1.2rem;
        transition: all .1s ease-in;
        cursor: pointer;
    }

    .bannerCar {
        animation: slideDown 1s forwards;
    }
    
    .carTitles-left p, .carTitles-right h3, .explore {
        animation: slideDown 1.3s forwards;
    }
    
    .titleMini, .carTitles-right p {
        animation: slideDown 1.8s forwards;
    }
    
    .horzLine, .horzline-D {
        animation: slideRight 3s forwards;
    }
    
    .vidTitle h2 {
        animation: slideDown 2.5s forwards;
    }
    
    .vidTitle h3 {
        animation: slideDown 2.9s forwards;
    }
    
    .vidTitle h4 {
        animation: slideDown 3.3s forwards;
    }
    
    .vidTitle a button {
        animation: slideDown 3.7s forwards;
    }
    
    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-50px);
        }
    
        to {
            opacity: 1;
            transform: none;
        }
    }
    
    @keyframes slideRight {
        from {
            opacity: 0;
            width: 0;
        }
    
        to {
            opacity: 1;
            width: none;
        }
    }
}