.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Inter';
    font-size: 1rem;
}

main {
    text-align: center;
}

video {
    margin: 0 auto;
    align-items: center;
}