footer {
    text-align: center;

    // position: relative;

    height: 70px;
    background-color: black;
    color: white;
    font-weight: 300;
}

.copyright {
    // position: absolute;
    // bottom: 0;
}

.copyright h3 {
    padding: 1.7rem;
    margin: 0 auto;
    text-align: center;
}