.section {
    position: relative;
    margin: 0;
    height: 100%;
    color: black;
}

.carsList {
    margin: 1rem auto;
}

#carModels {
    margin: -.5rem auto 5.5rem auto;
    padding: 5rem 0;
    position: relative;
    height: 100%;
}

.carIntro {
    margin: 3rem 2.5rem;
    align-items: center;
}

.carIntroTitle h2 {
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    line-height: 4rem;
    padding: 1rem 0 0 0;
}

.carIntroTitle h3 {
    padding-bottom: 3rem;
}

.carIntro h3 {
    text-align: center;
    font-size: 1rem;
    margin-top: .9rem;
}

.bgrdText {
    display: none;
    margin: 10rem auto;
    font-weight: 900;
    font-size: 15rem;
    color: #00000020;
    // position: relative;
}

.bold {
    font-weight: 600;
}

.carInside img {
    width: 600px;
    height: 616px;
    object-fit: cover;
    margin: 0 auto 3rem auto;
    border-radius: 3px;
}

.promoImg {
    display: flex;
    flex-direction: column;
    position: relative;
}

.promoCar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.promoCar img {
    display: none;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.heroBanner1 {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: 85% 0;
}

.heroBanner2 {
    object-position: 40% 0;
}

.heroBanner3 {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: 25% 0;
}

.descBoxes {
    display: flex;
    flex-direction: row-reverse;
    margin: 8rem auto 5rem auto;
}

.descBox1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 auto auto 1rem;
}

.promo_cardText {
    display: none;
    
    max-width: 300px;
    width: auto;
    text-align: left;
    font-weight: 300;
    margin: 0 auto 0 2rem;
}

.horzLineW {
    // display: none;
    width: 70px;
    height: 2.5px;
    background-color: white;
    margin: 1rem 0;
    border-radius: 50rem;
}

.promo_cardText h3 {
    text-align: left;
    font-size: 18px;
}

.promo_cardText p {
    font-size: 1rem;
    line-height: 1.4rem;
}

.descBox2 {
    margin-top: -5rem;
}

.descBox2-t {
    text-align: right;

    display: flex;
    flex-direction: column;
}

.descBox2-t h3,
.descBox2-t p {
    display: none;
}

.descBox2-t .horzLineW {
    margin-right: 0;
}